

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    background-color: hsl(221, 100%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* card */
.card {
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 5px 20px 20px 1px hsla(229, 55%, 70%, 0.2);
    background-color: hsl(0, 0%, 100%);
    align-items: center;
}

/* RESULT SIDE */

/* result container */
  #result {
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 25px;
    text-align: center;
    flex: 50%;

}

/* your result title */
#your-result{
    color: hsl(241, 100%, 89%);
    margin-top: 38px;
    margin-bottom: 10%;
}

/* score circle */
  #circle {
    width: 150px;
    height: 150px;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    text-align: center;
    margin: auto;
}

/* score container */
.section{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

/* score */
  #circle p {
    color: white;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 0;
}

/* score x out of 100 */
  #circle p:nth-child(2) {
    color: hsla(241, 100%, 89%, 50%);
    font-size: 0.8em;
    margin-top: 0;
}

/* message title after score */
  #result p:nth-child(3){
    color: white;
    font-weight: 700;
    font-size: larger;
    margin-top: 10%;
}

/* message content after score */
  #result p:nth-child(4){
  font-size: 13px;
  color: hsl(241, 100%, 89%);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10%;
}

/* SUMMARY SIDE*/

/* summary container */
  #summary {
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    flex: 50%;
}

/* summary title */
 #summary-title {
    display: inline-block;
    position: relative;
 }

/* icons */
#summary img {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#tests-section {
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}
/* container for each test */
.test-div {
    height: 45px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items:center;
    /* justify-content:left; */
    margin-bottom: 13px;
    font-size: 13px;
    width: 220px;
}

/* .test-div img, p:first-of-type{
    justify-content: left;
} */

/* reaction */
#tests-section .test-div:nth-child(1){
    background-color: hsla(0, 100%, 67%, 8%);
    color: hsl(0, 100%, 67%);
}

/* memory */
#tests-section .test-div:nth-child(2){
    background-color: hsla(39, 100%, 56%, 8%);
    color: hsl(39, 100%, 56%);
}

/* verbal */
#tests-section .test-div:nth-child(3){
    background-color: hsla(166, 100%, 37%, 8%);
    color: hsl(166, 100%, 37%);
}

/* visual */
#tests-section .test-div:nth-child(4){
    background-color: hsla(234, 85%, 45%, 8%);
    color: hsl(234, 85%, 45%);
}

/* correct position of verbal and visual scores */
.total {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

/* score number */
.score {
       color: hsl(224, 30%, 27%);
       margin-left: 60px;
}

/* / 100 */
.hundred {
    color: hsla(224, 30%, 27%, 50%);
}

.score, .hundred{
    font-weight: 700;
}

/* continue button */
button {
    background-color: hsl(224, 30%, 27%);
    border-radius: 25px;
    border: 0;
    width: 220px;
    height: 40px;
    color: white;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 500;
}

button:hover{
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    cursor: pointer;
}

/* responsive laptop */
@media screen and (min-width: 401px) {
    .card{
        flex-flow: row nowrap;
        max-width: 550px;
        max-height: 600px;
    }

    #summary-title{
        padding-left: 30px;
    }

    .test-div{
        max-width: 250px;
    }

    button{
        margin-left: 28px;
    }

}

/* responsive mobile */
@media screen and (max-width: 400px) {

    body{
        margin: auto;
        flex-flow: column wrap;
        width: fit-content;
        background-color: white;
        font-size: 18px;
    }

    .card{
        box-shadow: none;
        text-align: center;
    }

    #result, #summary {
        flex: 100%;
        flex-flow:column;
        width: min-content;
    }

    #result {
        display: block;
        position: relative;
        width: 310px;
    }

    #result p:nth-child(4){
        margin-left: 0;
        margin-right: 0;
    }

    #result p:nth-child(4){
        padding: 2px;
    }

    #summary-title{
        display: block;
        text-align: left;
        margin-left: 30px;
    }

    .test-div{
        width: 300px;
        background-color: black;
    }

    .score{
        display: block;
        position: relative;
        margin-left: 150px;
    }

    button {
        width: 300px;
    }

    br {
        display: block;
    }
}